<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Tobu</string>
		<string>http://facebook.com/tobuofficial</string>
		<string>https://www.youtube.com/tobuofficial</string>
	</array>
	<array>
		<string>Itro</string>
		<string>https://soundcloud.com/itro</string>
		<string>https://www.youtube.com/user/officialitro</string>
	</array>
</array>
</plist>
