<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>All I Need</string>
		<string>Ehrling</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=cFgRS0dFWis</string>
	</array>
	<array>
		<string>Bay Breeze</string>
		<string>FortyThr33</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=XER8Zg0ExKU</string>
	</array>
	<array>
		<string>Candyland</string>
		<string>Tobu</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=IIrCDAV3EgI</string>
	</array>
	<array>
		<string>Champagne Ocean</string>
		<string>Ehrling</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=do0oIs31Huw</string>
	</array>
	<array>
		<string>Cloud 9</string>
		<string>Itro &amp; Tobu</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=VtKbiyyVZks</string>
	</array>
	<array>
		<string>Dance With Me</string>
		<string>Ehrling</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=FuAgLHJnc-Y</string>
	</array>
	<array>
		<string>Fade</string>
		<string>Alan Walker</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=bM7SZ5SBzyY</string>
	</array>
	<array>
		<string>Good For You</string>
		<string>THBD</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=-K_YSjqKgvQ</string>
	</array>
	<array>
		<string>Hope</string>
		<string>Tobu</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=EP625xQIGzs</string>
	</array>
	<array>
		<string>Sthlm Sunset</string>
		<string>Ehrling</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=uoEhoGt4mIw</string>
	</array>
	<array>
		<string>Sunburst</string>
		<string>Tobu &amp; Itro</string>
		<string>mp3</string>
		<string>https://www.youtube.com/watch?v=4lXBHD5C8do</string>
	</array>
</array>
</plist>
